apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImageRepository
metadata:
  name: example-webapp
  namespace: example-ns
spec:
  image: example-repo/
  interval: 5m
  secretRef:
    name: regcred # Secrets for pulling images from private registries
  # Or maybe this way
  # imagePullSecrets:
  # - name: regcred
---
apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImagePolicy
metadata:
  name: example-webapp
  namespace: example-ns
spec:
  imageRepositoryRef:
    name: example-webapp
  policy:
    numerical:
      order: asc
---